:root {
  --clr-card: rgb(231, 231, 231); /*rgb(230, 230, 230); */
  --clr-text: rgb(22, 22, 22);
  --clr-primary: rgb(72, 218, 218);
  --clr-heart: rgb(204, 51, 51);
  --clr-dark-grey: rgb(80, 78, 78);
  --clr-light-grey: rgb(178, 170, 170);
  --clr-white-hover: rgb(214, 213, 213);
  --clr-shadow: rgba(208, 208, 208, 0.375);
  /* --clr-black: rgba(14, 14, 14, 0.855); */
  --clr-links: rgb(44, 138, 193);
  --clr-links-hover: rgb(32, 98, 136);
  --clr-euros: rgb(93, 178, 228);
  --clr-icon-hover: rgb(54, 54, 54); 
}

* {
  box-sizing: border-box;
}

label {
  font-size: var(--ff-size-m);
  font-weight: var(--fw-normal);
}

img {
  display: inline-block;
}

h1 {
  font-size: var(--ff-size-xl);
  font-weight: var(--fw-bold);
  font-family: var(--ff);
}

a.link {
  text-decoration: none;
  color: var(--clr-links);
  font-weight: var(--fw-medium);
  font-size: var(--ff-size-m);
  overflow: hidden;
  display: -webkit-box;
  width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

a.link:hover {
  color: var(--clr-links-hover);
  -webkit-line-clamp: 3;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.params {
  display: flex;
  gap: 1rem;
}

.inputName {
  border: 1px solid grey;
  border-radius: 0.3rem;
  width: 60ch;
}

.buttonSearch {
  padding: 0.75rem;
  background-color: rgb(14, 103, 154);
  border: 0;
  border-radius: 0.5rem;
  font-weight: var(--ff-size-l);
}

.buttonSearch:hover {
  background-color: rgb(36, 156, 226);
  opacity: 0.9;
  transform: scale(1.1);
  transition: transform ease-out 150ms;
}

.star {
  color: rgb(250, 229, 42);
}

.card {
  max-width: 350px;
  min-height: auto;  /*Change to fixed number for Safari */
  background-color: var(--clr-card);
  border-radius: calc(10px + 0.8rem);
  padding: 0.8rem;
  border-top: 0.7rem solid var(--clr-primary);
  -webkit-box-shadow: 0.3rem 0.3rem 0.85rem -0.4rem var(--clr-dark);
  box-shadow: 0.3rem 0.3rem 0.85rem -0.4rem var(--clr-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  aspect-ratio: 3 / 4;
}

.flexible {
  margin-top: auto;
}

.image {
  width: 100%;
  min-height: 100%;
  min-width: 300px;
  aspect-ratio: 16/9;
  /* border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.113)); */
  border-radius: 10px 10px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: rgba(155, 153, 153, 0.493);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  vertical-align: bottom;
}

.image_container img:hover {
  -webkit-transform: scale(1.15); /* Safari and Chrome */
  -moz-transform: scale(1.15); /* Firefox */
  -ms-transform: scale(1.15); /* IE 9 */
  -o-transform: scale(1.15); /* Opera */
  transform: scale(1.15);
}

.image_container {
  position: relative;
  overflow: hidden;
}

.image_container::after {
  content: "";
  width: 100%;
  height: 3.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    hsla(0, 0%, 0%, 0.905),
    transparent
  );
  z-index: 80;
}

.rating {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0.3rem;
  margin-left: 0.4rem;
  z-index: 90;
}

.pricing {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0.5rem;
  margin-right: 0.4rem;
  z-index: 90;
  display: flex;
  gap: 0.2rem;
}

.euro {
  color: var(--clr-euros);
}

.descripcion {
  text-wrap: balance;
  text-align: left;
  font-size: var(--ff-size-xl);
  font-weight: var(--fw-bold);
  color: var(--clr-text);
  margin-top: 0.35rem;
  line-height: 1.25;
}

button {
  background-color: transparent;
  border: 0;
}

.share {
  padding: 0.2rem;
  filter: drop-shadow(-1px 1px 3px rgba(0, 0, 0, 0.716));
  scale: 1.25;
}

.map {
  color: var(--clr-text);
  filter: drop-shadow(-1px 2px 2px #6b6b6b);
}

.globe {
  padding: 0.2rem;
  filter: drop-shadow(-1px 1px 3px rgba(0, 0, 0, 0.716));
  scale: 1.25;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  /* margin-top: auto; */
}

.like {
  color: var(--clr-heart);
}

.like_button {
  margin-left: auto;
  padding: 0.7rem;
  border-radius: 50%;
  filter: drop-shadow(-1px 0px 3px rgba(124, 124, 124, 0.307));
  background-color: #f2f2f2;
}

.like_button:hover {
  background-color: var(--clr-white-hover);
}

.phone {
  color: var(--clr-text);
  filter: drop-shadow(-1px 2px 2px #6b6b6b);
  margin-right: 0.1rem;
}

.phone_details:hover .phone {
  animation: phoneShake ease-in-out 0.4s;
}

.street_details {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.9rem;
  margin-bottom: 0.6rem;
  padding: 0;
}

.phone_details {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1.1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  align-items: center;

  flex: 1;
}

.tags_container {
  display: flex;
  flex-direction: row;
  margin-top: 0.7rem;
  align-items: center;
}

.tag {
  color: var(--clr-black);
  font-weight: 700;
  text-transform: uppercase;
  /* opacity: .9; */
  /* vertical-align: middle; */
  font-size: calc(var(--ff-size-m) * 0.97);
  /* line-height: 3ch; */
  padding-inline: .7rem;
  padding-block: .35rem;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 21px -7px rgba(18, 18, 18, 0.552);
  -moz-box-shadow: 0px 0px 21px -7px rgba(18, 18, 18, 0.552);
  box-shadow: 0px 0px 21px -7px rgba(18, 18, 18, 0.552);
}

.tag:hover{
  filter: brightness(85%);
}

.tag_expand {
  color: var(--clr-black);
  margin-right: 0.2rem;
  margin-top: 0.1rem;
}

.almuerzos {
  --clr-almuerzos: rgb(169, 210, 63);
  background-color: var(--clr-almuerzos);
}

.argentino {
  --clr-argentino: rgb(117, 174, 224);
  background-color: var(--clr-argentino);
}

.bocadillos {
  --clr-bocadillos: rgb(237, 178, 105);
  background-color: var(--clr-bocadillos);
}

.buffet {
  --clr-buffet: rgb(76, 219, 204);
  background-color: var(--clr-buffet);
}

.croquetas {
  --clr-croquetas: rgb(253, 188, 97);
  background-color: var(--clr-croquetas);
}

.desayunos {
  --clr-desayunos: rgb(110, 165, 254);
  background-color: var(--clr-desayunos);
}

.hamburguesas {
  --clr-hamburguesas: rgb(250, 128, 128);
  background-color: var(--clr-hamburguesas);
}

.horchateria {
  --clr-horchateria: rgb(238, 179, 154);
  background-color: var(--clr-horchateria);
}

.mexicano {
  --clr-mexicano: rgb(83, 197, 87);
  background-color: var(--clr-mexicano);
}

.pizza {
  --clr-pizza: rgb(245, 92, 65);
  background-color: var(--clr-pizza);
}

.sushi {
  --clr-sushi: rgb(38, 166, 154);
  background-color: var(--clr-sushi);
}

.tapas {
  --clr-tapas: rgb(196, 81, 32);
  background-color: var(--clr-tapas);
}

.tortilla {
  --clr-tortilla: rgb(248, 229, 17);
  background-color: var(--clr-tortilla) !important;
}

.tacos {
  --clr-tacos: rgb(106, 218, 36);
  background-color: var(--clr-tacos);
}

.paella {
  --clr-paella:rgb(255, 236, 29);
  background-color: var(--clr-paella);
}

.hotpot {
  --clr-hotpot:rgb(244, 96, 22);
  background-color: var(--clr-hotpot);
}

.pasta{
  --clr-pasta:rgb(255, 210, 49);
  background-color: var(--clr-pasta);
}

.asiatico{
  --clr-asiatico:rgb(40, 242, 114);
  background-color: var(--clr-asiatico);
}

.parrilla{
  --clr-parrilla:rgb(15, 102, 126);
  background-color: var(--clr-parrilla);
}

.ramen{
  --clr-ramen: rgb(175, 155, 130);
  background-color: var(--clr-ramen);
}

.globe:hover,
.share:hover {
  color: var(--clr-icon-hover);
}

/* .like[data-liked=true]:hover{
    transform: scale(1.15);
    transition: transform ease 150ms;
} */

.like[data-liked="true"] {
  animation: heartbeat 700ms;
}

/* .like[data-liked="false"] {
  animation: shake 500ms;
} */

@keyframes phoneShake {
  0% {
    transform: translate(0px, 0px) rotate(-10deg);
  }
  20% {
    transform: translate(0px, 0px) rotate(10deg);
  }
  40% {
    transform: translate(0px, 0px) rotate(-10deg);
  }
  60% {
    transform: translate(0px, 0px) rotate(10deg);
  }
  80% {
    transform: translate(0px, 0px) rotate(-10deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.75);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.75);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zIndexHack {
  0%, 100% {
    z-index: 80;
  }
}

@keyframes zIndexHack2 {
  0%, 100% {
    z-index: 8000;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* --clr-text: rgb(215, 215, 215); */
    /* --clr-card: rgba(48, 48, 48, 0.948); */
    --clr-card: #f0f2f5;
    --clr-heart: rgb(237, 41, 15);
    --clr-dark-grey: rgb(80, 78, 78);
    --clr-light-grey: rgb(162, 162, 162);
    --clr-shadow: rgba(0, 40, 80, 0.2);
    --clr-links: rgb(64, 165, 223);
    --clr-icon-hover: rgb(227, 225, 225); 
    /* --clr-dark: #141414; */
  }

  .globe,
  .share,
  .phone,
  .map {
    color: var(--clr-dark-grey);
  }

  .like_button {
    background-color: #fafafa;
  }

  label,
  span {
    color: var(--clr-dark);
  }
}
